.green-light {
  background-color: #e8e8e9;
}

.green-light .header-bg {
  background-color: #f3f4f8;
}

.my-btn {
  position: relative;
  padding: 8px 18px;
  background: #05c65d;
  border: 0;
  color: #fff;
  border-radius: 5px;
  z-index: 100;
}

.green-light .commonbtn {
  min-width: 160px;
  height: 32px;
  padding: 0 12px;
  background-color: #05c65d;
  color: #fff;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0,
      0,
      0,
      0.16);
}

.green-light .redbtn {
  min-width: 160px;
  height: 32px;
  padding: 0 12px;
  background-color: #e26b6b;
  color: #fff;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0,
      0,
      0,
      0.16);
}

.green-light .graybtn {
  min-width: 160px;
  height: 32px;
  padding: 0 12px;
  background-color: #a1a1a1;
  color: #fff;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0,
      0,
      0,
      0.16);
}

.green-light .commonbtn:hover {
  background-color: #4acf86;
}

.green-light .graybtn:hover {
  background-color: #777777;
}

/*字体颜色*/
.green-light .font-red {
  color: red !important;
}

.green-light .font-green {
  color: #05c65d;
}

.green-btn {
  background-color: #05c65d;
  color: #fff;
}

.green-btn:hover {
  background-color: #48c781;
}

.white-btn {
  background-color: #fff;
  color: #05c65d;
  border: 1px solid #05c65d;
}

.white-btn:hover {
  background-color: #eafff3;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(31, 228, 58, 0.4);
}
